<form
    #form="ngForm"
    (ngSubmit)="addProduct()"
    *ngIf="!postError && !postSuccess"
>
    <div class="form-group">
        <label for="name">Name</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter product name"
            [(ngModel)]="name"
            required
        />
    </div>
    <div class="form-group">
        <label for="price">Price (in dollers)</label>
        <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            placeholder="Enter price"
            [(ngModel)]="price"
            required
            pattern="^([1-9][0-9]*)$"
            #pricePattern="ngModel"
        />
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input
            type="text"
            class="form-control"
            id="category"
            name="category"
            placeholder="Enter product category"
            [(ngModel)]="category"
            required
        />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter product description"
            [(ngModel)]="desc"
            required
        />
    </div>
    <div class="form-group">
        <label for="url">Image URL</label>
        <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            placeholder="Enter URL for product image"
            [(ngModel)]="url"
            required
        />
    </div>

    <div class="text-danger" *ngIf="form.invalid && form.dirty">
        <div *ngIf="pricePattern.errors?.pattern">Please enter valid price</div>
        Please provide all the information to add the new product
    </div>
    <br />

    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
        Add
    </button>
</form>

<ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="default"
    type="ball-spin-clockwise"
>
    <p style="color: white">Adding new product...</p>
</ngx-spinner>

<div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    *ngIf="postError"
>
    <strong>{{ postError }}</strong>
    <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="resetPostError()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    *ngIf="postSuccess"
>
    <strong>New Product Added Successfully.!</strong>
    <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="resetPostSuccess()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
