<div class="order-success">
    <div class="jumbotron">
        <h1 class="display-4">Congratulations..!</h1>
        <p class="lead">Order is placed successfully</p>
        <hr class="my-4" />
        <p>
            Dear <strong>{{ name }}</strong
            >, your order of amout <strong>${{ total }}</strong> is placed
            successfully on {{ date }}.
        </p>
        <p>Please expect the delivery in 4 - 5 business days.</p>

        <a class="btn btn-primary btn-lg" routerLink="/" role="button"
            >Back to Home</a
        >
    </div>
</div>
